@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('/src/shared/assets/fonts/Montserrat-Regular.woff2') format('woff2'), url('/src/shared/assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url('/src/shared/assets/fonts/Montserrat-Medium.woff2') format('woff2'), url('/src/shared/assets/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url('/src/shared/assets/fonts/Montserrat-SemiBold.woff2') format('woff2'), url('/src/shared/assets/fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('/src/shared/assets/fonts/Montserrat-Bold.woff2') format('woff2'), url('/src/shared/assets/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url('/src/shared/assets/fonts/Montserrat-ExtraBold.woff2') format('woff2'), url('/src/shared/assets/fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

